<!-- FOOTER -->
<footer class="container">
  <p>&copy; 2022, Inc. &middot; <a href="#">Privacidad</a> &middot; <a href="#">Terminos y condiciones</a></p>
</footer>
</main>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
<script src="./js/slider.js"></script>
</body>

</html>