<%- include('template/head.ejs', {titleWeb: 'Common Expenses'}) %>
<header>
    <%-include("templates/navbar.ejs", {brandText: 'Common Expenses'}) %>
</header>
<div> class="container-fluid">
    <div>class="row">
        <%- include("templates/sidebar.ejs") %>
        <main> role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mt-5">
            <h5>hola</h5>

        </main>
    </div>
</div>
